<div class="main" id="s1">

  <div id="leftId" class="left">
    <div class="links">
      <a id="sc1" href="#home">
        <div class="circle"></div>
      </a>
      <a id="sc2" href="#about">
        <div class="circle"></div>
      </a>
      <a id="sc3" href="#contact">
        <div class="circle"></div>
      </a>
    </div>
  </div>

  <div class="center">

    <!--SECTION 1-->
    <span #home class="anchor" id="home"></span>
    <div id="element1" class="section one">
      <div class="innerContent">
        <div class="mainLeft">

          <div id="titleId" class="title">
            LAJESHWAR <br>
            LIMBU
          </div>

          <div id="jobTextId" class="jobText">
            ϟoftware developer
          </div>

          <div id="jobTextId" class="normalText">
            📍 Based in UK.
          </div>

          <div class="wrapper">
            <div class="wLeft">
              <div id="jobTextId" class="TechText">Tech stack </div>
              <div class="line">|</div>
            </div>

            <div class="wRight">
              <img class="logos" src="../../../assets/images/logos/dotnetlogo.png" height="36px" width="36px">
              <img class="logos" src="../../../assets/images/logos/typescriptlogo.png" height="36px" width="36px">
              <img class="logos" src="../../../assets/images/logos/jslogo.png" height="36px" width="36px">
              <img class="logos" src="../../../assets/images/logos/angularlogo.png" height="36px" width="36px">
              <img class="logos" src="../../../assets/images/logos/htmllogo.png" height="36px" width="36px">
              <img class="logos" src="../../../assets/images/logos/csslogo.png" height="36px" width="36px">
            </div>
          </div>
        </div>

        <div class="mainRight">
          <canvas id="screen"></canvas>
          <div class="text">ʘ1</div>
        </div>

      </div>
    </div>

    <!--SECTION 2-->
    <span #about class="anchor" id="about"></span>
    <div id="element2" class="section two">
      <div class="innerContent-two">
        <div class="mainLeft-two">
          <div id="titleId" class="title">About me</div>
        </div>
      </div>
    </div>

    <!--SECTION 3-->
    <span #contact class="anchor" id="contact"></span>
    <div id="element3" class="section three">
      <div class="innerContent-three">
        <div class="mainLeft-three">
          <div id="titleId" class="title">Contact</div>
        </div>
      </div>
    </div>


  </div>

  <div class="right">

  </div>
</div>