*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
th{
    padding: 10px !important;
}
#textinput {
    min-width: 500px;
    max-width: 500px;

    min-height: 300px;
    max-height: 300px;
}

#textoutput {
    min-width: 500px;
    max-width: 500px;
    
    min-height: 300px;
    max-height: 300px;
}

#link1 {
    min-width: 500px;
    max-width: 500px;

    min-height: 100px;
    max-height: 100px;
}


#link2 {
    min-width: 500px;
    max-width: 500px;

    min-height: 100px;
    max-height: 100px;
}


.quicklink{

    padding: 10px;
}

.row{
    align-items: center;
}
