
html{
    font-family: 'Nunito', sans-serif;
    text-rendering: geometricPrecision;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {



    .site-nav-link{
        display: none;
    }

   #le{
   
    display: block !important;
   }
    .grid-container{
        justify-content: center;
        grid-template-columns: 0.2fr 3fr 0.2fr !important;
    }

    .site-nav-container{
        height: 90px!important;
    }

    .middle-panel{
     
        background: rgba(0, 0, 0,0.412);
        grid-column: 1/4 !important;

        animation: mob-animate-border 1s !important;
        animation-fill-mode: forwards; 
    }
   
    .grid-container{
        display: none;
    }
    #date{
        display: none;
    }
    #time{
        display: none;
    }

    
@keyframes mob-animate-border {
    0%   {border-radius: 0px; background: rgba(0, 0, 0,0.0);transform: scaleX(1.2);}
    100% {border-radius: 0px!important;background: rgba(0, 0, 0,0.412)};
}
}



/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    /*Insert your tablet CSS in here!*/
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    /*Insert your mobile CSS in here!*/
}

#le{
    width: 40px;
    display: none;
}


body {
    margin: 0;
    padding: 0;
    border: 0;
    background: rgb(29, 29, 29);
    background-size:cover;
}   

div *{
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font-size: 100%;
}

.grid-container{
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
}

.site-nav-container{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
}

.site-nav-logo *{
    width:115px;
    position: relative;
}

.site-nav-link *{
    font-size: 16px;
    font-weight: 500;
    list-style-type:none;
    text-decoration: none;
    transition:all 0.3s ease-in-out;
    color: white;
}

.home{
    padding-right: 10px;
}
.portfolio{
    padding-right: 10px;
}

.site-nav-link *:hover{
    transition:all 0.3s ease-in-out;
    color: red;
}


.left-panel{
    
    grid-row: 2;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content:stretch;
}

.middle-panel{
    grid-row: 2;
    grid-column: 2;
    display: flex;
    align-items: center;
    animation: animate-border 1s;
    animation-fill-mode: forwards;  
}

.right-panel{
    grid-row: 2;
    grid-column: 3;
    display: flex;
    align-items: center;
}



.intro{
    font-size: 50px;
    text-align: center;
    width: 100%;
    animation: appear 2s ;
    animation-fill-mode: forwards;  
}

red{
    color: red;
    font-size: 60px;
    animation: appear-red 2s ;
    animation-fill-mode: forwards;  
}

@keyframes animate-border {
    0%   {border-radius: 0px; background: rgba(0, 0, 0,0.0);transform: scaleX(1.2);}
    100% {border-radius: 30px;background: rgba(0, 0, 0,0.412)};
}

@keyframes appear {
    0%   {color: rgba(0, 0, 0,0.0);}
    100% {color: rgba(255, 255, 255, 1);}
}

@keyframes appear-red{
    0%   {color: rgba(0, 0, 0,0.0);}
    100% {color: rgb(255, 0, 1);}
}

#date{
    font-size: 20px;
    width:100%;
    rotate: 270deg;
    color: aliceblue;    
    text-align: center;

}

#time{
    rotate: 90deg;
    color: aliceblue;
    font-size: 20px;
    width:100%;
    text-align: center;
}

footer{
    display: -webkit-flex;
    display: -ms-flexbox;
    background-color: rgb(29, 29, 29);
    text-align: center;
    width: 100%;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

