
html{
    -webkit-font-smoothing: antialiased;
    font-family: 'Nunito', sans-serif;
    text-rendering: geometricPrecision;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background: rgb(29, 29, 29);
    background-size:cover;
}   

div *{
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font-size: 100%;
}

.grid-container{
    display: grid;
    grid-template-rows: 0.5fr 5fr;
    grid-template-columns: 1fr 3fr 1fr;
}

.site-nav-container{
    grid-column: 2;
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0,0.0);
}

.site-nav-logo *{
    width:115px;
    position: relative;
}

.site-nav-link *{
    font-size: 16px;
    font-weight: 500;
    list-style-type:none;
    text-decoration: none;
    transition:all 0.3s ease-in-out;
    color: white;
}

.home{
    padding-right: 10px;
}
.portfolio{
    padding-right: 10px;
}



.site-nav-link *:hover{
    transition:all 0.3s ease-in-out;
    color: red;
}


.left-panel{
    grid-row: 2;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content:stretch;
}

.middle-panel{
    grid-row: 2;
    grid-column: 2;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.412);
    border-radius: 25px;
}
.right-panel{
    grid-row: 2;
    grid-column: 3;
    display: flex;
    align-items: center;
}


.intro{
    font-size: 50px;
    color: aliceblue;
    text-align: center;
    width: 100%;
    
}


#date{
    font-size: 20px;
    width:100%;
    rotate: 270deg;
    color: aliceblue;    
    text-align: center;

}

#time{
    rotate: 90deg;
    color: aliceblue;
    font-size: 20px;
    width:100%;
    text-align: center;
}

footer{
    display: -webkit-flex;
    display: -ms-flexbox;
    background-color: rgb(29, 29, 29);
    text-align: center;
    width: 100%;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    display: flex; 
    flex-direction: column;
    align-items: center;
}