/* You can add global styles to this file, and also import other style files */
* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: rgb(69, 69, 69);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    //background-color: #051934;
    background-color: rgb(227, 227, 227);
    //background-image: url('./app/components/main/Screenshot\ 2023-05-19\ 194056.png');
}

